body{
    background-color: red;
}
h1{
    font-size: 30px;
    text-align: center;  
}
h2{
    color: white;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    text-align: center;
}
h3{
    color: black;
    font-size: 30px;
}
p{
    text-align: justify;
    font-size: 30px;
    text-align: center;
}
ol{
    color: gray;
}
ul{
    color: gray;
}
table{
    color: gray;
}
.wrapper {
    display: grid;
    display: flex;
    text-align: center; 
}
