body{
    background-color: red;
}
h1{
    font-size: 30px;
    text-align: center;  
}
h2{
    color: white;
    font-size: 40px;
    text-align: justify;
    text-align: center;
}
p{
    text-align: justify;
    font-size: 30px;
    text-align: center;
}
ol{
    color: gray;
}
ul{
    color: gray;
}
table{
    color: gray;
}
.wrapper {
    display: grid;
    text-align: center;
}
